* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    overflow-x: hidden;
    background-color: #f0f0f0; 
}

section.parallax { 
    background-image: url('img/gatito.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
}

main {
   
    position: relative;
    background: white;
    padding: 2rem;
    

    
    border-radius: 40px 40px 0 0;
    box-shadow: 0 -15px 30px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

article {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
}